# USE THE .config FILE IN THE blinky-tacoco PROJECT
# blinky-tacoco IS AVAILABLE AS A MAVEN MODULE IN PROJECT BLINKY @ https://github.com/spideruci/blinky
# THIS CONFIG FILE IS NOT THE WAY TO GO FOR INTEGRATING TACOCO WITH BLINKY

#-javaagent:$TACOCO_HOME$/lib/org.jacoco.agent-0.7.4.201502262128-runtime.jar=destfile=$OUTDIR$/$PROJECT_NAME$.exec,dumponexit=false

-javaagent:/Users/vpalepu/phd-open-source/blinky/blinky-core/target/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar=l,frames

-cp:/Users/vpalepu/phd-open-source/blinky/blinky-tacoco/target/blinky-tacoco-0.0.1-SNAPSHOT-jar-with-dependencies.jar

#-javaagent:$TACOCO_HOME$/lib/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar=l,frames,sourcename,calldepth

#-Dtacoco.listeners=org.spideruci.tacoco.testlisteners.JacocoListener
#-Dtacoco.listeners=org.spideruci.tacoco.testlisteners.BlinkyListener
-Dtacoco.listeners=org.spideruci.analysis.tacoco.BlinkyListener
-Dtacoco.analyzer=org.spideruci.tacoco.analysis.TacocoAnalyzer

#PIT specific options
#-Dtacoco.pit.no_unittest_if_result_exist
#-Dtacoco.pit.jar=$TACOCO_HOME$/lib/pitest-command-line-1.1.8-junghuk.jar:$TACOCO_HOME$/lib/pitest-1.1.8-junghuk.jar:$TACOCO_HOME$/lib/junit-4.12.jar:$TACOCO_HOME$/lib/testng-6.9.9
#-Dtacoco.pit.maxMutationsPerClass=100
