# USE THE .config FILE IN THE blinky-tacoco PROJECT
# blinky-tacoco IS AVAILABLE AS A MAVEN MODULE IN PROJECT BLINKY @ https://github.com/spideruci/blinky
# THIS CONFIG FILE IS NOT THE WAY TO GO FOR INTEGRATING TACOCO WITH BLINKY

-Xbootclasspath/a:/Users/vpalepu/git/program-execution-artifacts/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar
#:/Users/vpalepu/git/program-execution-artifacts/blinky-tacoco-1.0-SNAPSHOT-jar-with-dependencies.jar
-javaagent:/Users/vpalepu/git/program-execution-artifacts/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar=exi,frames,onlyfromallowlist
-cp:/Users/vpalepu/git/program-execution-artifacts/blinky-tacoco-1.0-SNAPSHOT-jar-with-dependencies.jar:/Users/vpalepu/git/program-execution-artifacts/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar
-Dtacoco.listeners=org.spideruci.analysis.tacoco.BlinkyListener
-Dtacoco.analyzer=org.spideruci.analysis.tacoco.BlinkyAnalyzer

################

# /Users/vpalepu/git/program-execution-artifacts/blinky-tacoco/target/blinky-tacoco-1.0-SNAPSHOT-jar-with-dependencies.jar
# /Users/vpalepu/git/blinky-core/target/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar

################

#-javaagent:$TACOCO_HOME$/lib/org.jacoco.agent-0.7.4.201502262128-runtime.jar=destfile=$OUTDIR$/$PROJECT_NAME$.exec,dumponexit=false
#-javaagent:$TACOCO_HOME$/lib/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar=l,frames,sourcename,calldepth

#-Dtacoco.listeners=org.spideruci.tacoco.testlisteners.JacocoListener
#-Dtacoco.listeners=org.spideruci.tacoco.testlisteners.BlinkyListener

#PIT specific options
#-Dtacoco.pit.no_unittest_if_result_exist
#-Dtacoco.pit.jar=$TACOCO_HOME$/lib/pitest-command-line-1.1.8-junghuk.jar:$TACOCO_HOME$/lib/pitest-1.1.8-junghuk.jar:$TACOCO_HOME$/lib/junit-4.12.jar:$TACOCO_HOME$/lib/testng-6.9.9
#-Dtacoco.pit.maxMutationsPerClass=100
