# Use these configurations to test tacoco with the spiderMath project in the resources directory,
# otherwise, set the paths to the exec and jar files appropriately.
-javaagent:$TACOCO_HOME$/lib/org.jacoco.agent-0.7.4.201502262128-runtime.jar=destfile=$TACOCO_HOME$/tacoco_output/tacoco.exec,dumponexit=false
-Dtacoco.listeners=org.spideruci.tacoco.testlisteners.TestNGJacocoListener:org.spideruci.tacoco.testlisteners.JUnitJacocoListener
-Dtacoco.analyzer=org.spideruci.tacoco.analysis.PITAnalyzer
-Dtacoco.pit.no_unittest_if_result_exist
-Dtacoco.pit.jar=$TACOCO_HOME$/lib/pitest-command-line-1.1.7.jar:$TACOCO_HOME$/lib/pitest-1.1.7-SNAPSHOT.jar